{% extends "base.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block navbar %}
    {{ super() }}
{% endblock %}

{% block body %}
    {{ super() }}
    <div class="row pt-3 pb-1 aaq-parallax parallax-top-right">
        <h1 class="txt-cntr">Ask a Question</h1>
        <h5 class="fst-italic text-center">The mark of a true scientist is their limitless imagination.</h5>
    </div>
    <div class="container-lg pt-3 pb-2 bkgd">
        <hr class="border border-primary border-3 opacity-75">
        <div class="container-md p-2">
            <p>
                So!!! What is the purpose of this site? Great question!
            </p>
            <p>
                Site is to create a centralized location of knowledge I've gathered amongst community and
                in professional scenarios so others can leverage it freely and openly. To trigger thoughts
                and inspire research driven ideation. To help me make a mark on learning something new.
                Only further proving that more a person learns, the more they don't know, and open another
                dimension of infinite knowledge only to find learning is the best part.
            </p>
            <p>
                Hence, why writing it down in a fashion more enjoyable and digestible than a blank slate
                of monotonous toned Resume summaries is not designed for such, rather in hope to spread and
                share learned knowledge with others, so they can learn even quicker and build even more!
            </p>
            <p>
                Lastly, it puts myself on digital paper. People can read a resume, great. But that's not me,
                I'd rather show you. We all believe we're different, AND WE ARE,
                but we never really get a chance to show it, or for that matter, never have a chance to shine.
                I found I can do that through visuals and code, and side note, why I venerate Photoshop for
                its ability to manipulate a moment in time.
            </p>
        </div>
        <hr class="border border-primary border-3 opacity-75">
    </div>
    <div class="row pt-3 pb-2 aaq-parallax parallax-center"></div>
    <div class="container-lg pt-2 pb-2 bkgd">
        <hr class="border border-primary border-3 opacity-75">
        <div class="container-md p-2">
            <p>
                Please reach out and ask any questions where we can converse!! (Business questions, please go to
                navigation -> Business)
            </p>
            <ul class="list-group">
                <li class="list-group-item">
                    Professional guidance on technology, or digital architecture.
                    <ul class="list-group-flush pt-2 pb-2">
                        <li>Slack: tnfj.business</li>
                    </ul>
                </li>
                <li class="list-group-item">
                    Coding, gaming, hobby, enthusiast.
                    <ul class="list-group-flush pt-2 pb-2">
                        <li>Discord: tnfj.business#5185</li>
                    </ul>
                </li>
                <li class="list-group-item">
                    Random questions, or any topic really.
                    <ul class="list-group-flush pt-2 pb-2">
                        <li>Reddit: tnfj-reddit</li>
                    </ul>
                </li>
                <li class="list-group-item">
                    Anything other you might ask (and don't have Slack, Discord, or Reddit).
                    <ul class="list-group-flush pt-2 pb-2">
                        <li>E-mail: tnfj.business@outlook.com</li>
                    </ul>
                </li>
            </ul>
        </div>
        <hr class="border border-primary border-3 opacity-75">
    </div>
{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}

{% block modals %}
    {{ super() }}
{% endblock %}