{% extends "base.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block header %}
    {{ super() }}
{% endblock %}

{% block navbar %}
    {{ super() }}
{% endblock %}

{% block body %}
    {{ super() }}
    <div class="container-lg pt-3">
        <h2 class="txt-cntr">Blog Page</h2>
        <hr class="border border-primary border-3 opacity-75">
        <article>
            <div class="container-md">
                <h4>Philosophy on Uniqueness - Blog 0</h4>
                <p>
                    Our uniqueness is what makes us special, not a conformity to business practices and corporate
                    propaganda. So why not get that chance? Well you have to start somewhere, and it's a lot of
                    work, but with strong community everyone has the opportunity to shine. That's my goal,
                    be a person who can provide a real life example of what I've experienced to provide insight
                    so others have more knowledge going into their own experiences.
                </p>
                <p>
                    This is by no means a billboard posting to say "hey we need to change everything", rather
                    it's a viewpoint on what transitional periods look like, so you can have an insight
                    to take into your ventures.
                </p>
                <p>
                    What's great about millennials (yes there is something great about the entitled culture)
                    is that it teaches us how people want to be satisfied, and how to prevent that in ourselves.
                    Simple reference I use in the tech space: if you can build an app to satisfy a millennial,
                    you've built an app to satisfy all users. It's therefore intuitive, straightforward to use,
                    simplistic in nature, and very servitude based.
                </p>
                <p>
                    So why keep anything from the previous generation? Also a great question. Because you lose
                    experience, knowledge, and learned procedures you'll never once gain again. Ok fair, a person
                    from a newer generation may be more "book learned", if they're reading enough material to
                    formulate and postulate ideas and opinions based on multiple perspectives, but there's one
                    thing the newer generation will never have on the older: experience. Time gives experience,
                    and even someone 10 minutes older than you has more experience on this earth. So regardless
                    of their credentials, give credence to their perspective and learn from it. Einstein himself
                    stated that if you're the smartest person in the room, you're in the wrong room. Which further
                    proves another quote of his: there's no such thing as a fact; there's only experimentally
                    proven theories which can just as quickly be disproved by another theory.
                </p>
                <p>
                    One book I truly recommend is the autobiography of Nikola Tesla. If someone could pack
                    a million thoughts into one sentence it's him. For a publication with less than a few dozen
                    pages, there is a treasure mine of thought put into conciseness that even the elegance
                    of wording proves arabesque and rhythmic in its artistry. He writes in such a way
                    that it's almost as though he knew how to trigger thoughts from the reader and inspire
                    those thoughts to be the readers own. A beautiful quote states: a true scientist is not
                    one of quantified book knowledge, no, rather it's the power to their imagination that
                    makes their possibilities limitless.
                </p>
            </div>
        </article>
        <hr class="border border-primary border-3 opacity-75">
    </div>
{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}