{% extends "base.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block navbar %}
    {{ super() }}
{% endblock %}

{% block body %}
    {{ super() }}
    <div class="row pt-3 pb-2 blog-parallax parallax-top txt-white">
        <h1 class="txt-cntr">Blog</h1>
        <h5 class="fst-italic text-center">
            No self is of itself alone.
        </h5>
        <h5 class="fst-italic text-center">
            If a man never contradicts himself, the reason must be that he virtually never says anything at all.
        </h5>
        <h5 class="fst-italic text-center">
            - Erwin Schrodinger
        </h5>
    </div>
    <div class="container-lg pt-3 pb-2 bkgd">
        <hr class="border border-primary border-3 opacity-75">
        <div class="container-md p-2">
            <h4>Digest Way of Working (Dwow, (c) & Restricted) - Blog 1</h4>
            <p>
                Dwow is a combination, and re-implementation of agile across a software development workshop.
                A simple correlation is like Peanut Butter and Jelly. Both materials exist, but the combination,
                and supplement of new unique materials, provides the consumer with a tremendously more beneficial
                product. It is meant to include the best parts of working a remote hybrid, and an office in
                a mashed an infused way that cross pollinate methodologies to the best use of a software development
                workshop. Four core principles of Dwow: Self evaluation, Self awareness, Self compartmentalization,
                Self presentation.
            </p>
            <p>
                Certain principles are more effective than others, and look to methodically oriented, best practices that
                come out of hyper affective sessions, such as hackathons.
            </p>
            <p>
                It has been proven that pair programming, swarm sessions, and hackathons are all ways to produce a
                performing state, and agile that minimizes burnout, and increases productivity , across-the-board. But
                that being said the ways in which the digital world has enabled us to do so, are expedited, educational
                programs or learning sessions through a paired style, that we will referred to as paired knowledge
                sharing. This way, having two keyboards on the same monitor set up, let’s play multiplying effect take
                place for both users senses. It not only helps the lesser trained individual in this respective field,
                but also helps the trainer. It helps the trainee by expediting their learning through multiplicative
                solutions. Multiplication comes from multiple senses being used: the auditory sense by listening to the
                trainer explain and type at the same time, visual senses by watching solutions, take place and being
                able to see them in action, the touch sense, because the keyboard in which the trainee is typing also
                replicate a muscle, memory addition, and Socio economic growth through proximity of a more experienced
                individual and the subject matter being referenced.
            </p>
            <p>
                It also helps the trainer because it will force that individual to re-evaluate why thoughts and sequences
                of solution, and were brought about throughout the problem stage. The solution in stage is rather the
                more simplistic one in nature, because it is an experimentation phase of the ideation, which was
                occurring through the problem solving analytical skills of the trainer.
            </p>
            <p>
                The efficiency of swarm sessions, both code located, and centrally located, are beneficial to all parties
                in place, including the company with which the sponsored event or session is taking place. This is
                because not only is it expanded version of the paired knowledge session sharing, but also an advancement
                of product development and delivery through which natural evolution can not occur at a hyper scale for
                software applications. (Go into more depth about how to sponsor a swarming session)
            </p>
            <p>
                Once these other methodologies are in place, a expedition of product development can occur through a
                Hackathon. The swim session and paired knowledge sessions are not to be confused with time advancement
                or left shifting of a roadmap. It is an advancement of product delivery, and or evolution. A hackathon
                and if it’s self is a gathering of individuals where key players and customers as well as colleagues are
                involved with the event and it is a non-time driven occurrence. It will take place over 12 to 48 a super
                scale of hybrid delivery. This event needs to be succeeded by a couple if not few day relaxation. Where
                employees are able to rejuvenate, and re-gather themselves. Cases where a hackathon is, most useful is
                around the areas of new product ideation, large blockers, and behind schedule product paired
                programming, knowledge, sharing, sessions, or swim sessions should suffice.
            </p>
            <p>
                All of these in conjunction will provide the best solution for a software team, looking to be agile and
                have agility in product development. I wear most useful a team can extract certain parts of this
                methodology and ways of working to increase their productivity across the board, however, when
                leveraging ceremonies appropriately and other highly effective software development, frameworks a
                development team, will increase their productivity in much a compounded fashion, as compared to linear,
                when adopting other methodologies.
            </p>
            <p>
                Benefits include advance, product delivery, near eliminatory employee burnout, and also fiscal
                consciousness of travel expenses.
            </p>
        </div>
        <hr class="border border-primary border-3 opacity-75">
    </div>
    <div class="row pt-3 pb-2 blog-parallax parallax-center"></div>
    <div class="container-lg pt-3 pb-2 bkgd">
        <hr class="border border-primary border-3 opacity-75">
        <article id="blog0">
            <div class="container-md p-2">
                <h4>Philosophy on Uniqueness - Blog 0</h4>
                <p>
                    Our uniqueness is what makes us special, not a conformity to business practices and corporate
                    propaganda. So why not get that chance? Well you have to start somewhere, and it's a lot of
                    work, but with strong community everyone has the opportunity to shine. That's my goal,
                    be a person who can provide a real life example of what I've experienced to provide insight
                    so others have more knowledge going into their own experiences.
                </p>
                <p>
                    This is by no means a billboard posting to say "hey we need to change everything", rather
                    it's a viewpoint on what transitional periods look like, so you can have an insight
                    to take into your ventures.
                </p>
                <p>
                    What's great about millennials (yes there is something great about the entitled culture)
                    is that it teaches us how people want to be satisfied, and how to prevent that in ourselves.
                    Simple reference I use in the tech space: if you can build an app to satisfy a millennial,
                    you've built an app to satisfy all users. It's therefore intuitive, straightforward to use,
                    simplistic in nature, and very servitude based.
                </p>
                <p>
                    So why keep anything from the previous generation? Also a great question. Because you lose
                    experience, knowledge, and learned procedures you'll never once gain again. Ok fair, a person
                    from a newer generation may be more "book learned", if they're reading enough material to
                    formulate and postulate ideas and opinions based on multiple perspectives, but there's one
                    thing the newer generation will never have on the older: experience. Time gives experience,
                    and even someone 10 minutes older than you has more experience on this earth. So regardless
                    of their credentials, give credence to their perspective and learn from it. Einstein himself
                    stated that if you're the smartest person in the room, you're in the wrong room. Which further
                    proves another quote of his: there's no such thing as a fact; there's only experimentally
                    proven theories which can just as quickly be disproved by another theory.
                </p>
                <p>
                    One book I truly recommend is the autobiography of Nikola Tesla. If someone could pack
                    a million thoughts into one sentence it's him. For a publication with less than a few dozen
                    pages, there is a treasure mine of thought put into conciseness that even the elegance
                    of wording proves arabesque and rhythmic in its artistry. He writes in such a way
                    that it's almost as though he knew how to trigger thoughts from the reader and inspire
                    those thoughts to be the readers own. A beautiful quote states: a true scientist is not
                    one of quantified book knowledge, no, rather it's the power to their imagination that
                    makes their possibilities limitless.
                </p>
            </div>
        </article>
        <hr class="border border-primary border-3 opacity-75">
    </div>
    <div class="row pt-3 pb-2 blog-parallax parallax-bottom"></div>
{#    <div class="container-lg pt-3 pb-2 bkgd">#}
{#        <hr class="border border-primary border-3 opacity-75">#}
{#        <div class="container-md p-2">#}
<!--            <p>Blog Next</p>-->
{#        </div>#}
{#        <hr class="border border-primary border-3 opacity-75">#}
{#    </div>#}
{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}

{% block modals %}
    {{ super() }}
{% endblock %}