{% extends "base.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block navbar %}
    {{ super() }}
{% endblock %}

{% block body %}
    {{ super() }}
    <div class="row pt-3 pb-2 blog-parallax parallax-top txt-white">
        <h1 class="txt-cntr">Blog</h1>
        <h5 class="fst-italic text-center">
            No self is of itself alone.
        </h5>
        <h5 class="fst-italic text-center">
            If a man never contradicts himself, the reason must be that he virtually never says anything at all.
        </h5>
        <h5 class="fst-italic text-center">
            - Erwin Schrodinger
        </h5>
    </div>
    <div class="container-lg pt-3 pb-2 bkgd">
        <hr class="border border-primary border-3 opacity-75">
        <article id="blog2">
            <div class="container-md p-2">
                {# Anchor for respective blog#}
                <a href="#blog2"></a>
                <h4>Passing Thoughts - Blog 2</h4>
                <p>
                    Had some passing thoughts the other day, did some mental reiterations on the meaning of such
                    wording, and thought experimented with its seeded ideation. Mind sometimes wonders, and these
                    phrases I thought rang quite true with purposeful work.
                </p>
                <p>
                    I wanted to understand why my drive for helping others and increasing quality of time with my
                    surroundings. Bringing myself to professional work, I thought about success and failure,
                    which side of the coin has taught me more and how balancing acts provide best outcomes.
                </p>
                <ol>
                    <li>
                        Have a passion providing a voice to those who do not have one. Cultural driven change through
                        Engineering Solutions and purpose-driven communications. Even a failure is a success where
                        imagination breeds ingenuity.
                    </li>
                </ol>
                <p>
                    I was recently dancing in another state and had such a deep soul-filled connection with another
                    that I needed to relate that feeling to something more organic.
                </p>
                <ol>
                    <li>
                        Dancing is like breathing, sometimes you just gotta take a deep cleansing breath.
                    </li>
                </ol>
                <p>
                    I then continued to thoughtfully question again why certain human interactions are so authentic
                    and others are forced....Came to the following conclusion:
                </p>
                <ol>
                    <li>
                        As with many internationally recognized dances, there is both a science to technique and a
                        science to art. Perfection is driven factor. With West Cost Swing (WCS), there is a science
                        to technique, but there is no exact science to art. This is because we incorporate both
                        American and International leg styling, and with that comes uniqueness and individualism.
                        This is why WCS becomes so partner variant, and is that not the reason we draw both on
                        technical training and variance in our styling? It's the unique look we strive for!
                    </li>
                    <li>
                        It's who we are as dancers and who we are as persons. Our charisms shine through our style,
                        layered on that beautiful WCS technical foundation.
                    </li>
                </ol>
                <p>
                    After such realization and reinvesting why the status quo must always change, I wanted to further
                    think upon why human nature is an insatiable drive so deeply rooted in our DNA that to be better
                    and more knowledgeable and mentally present that I realized it's not about the end, nor the
                    beginning, the purpose of destination is the journey; that journey with which our life's purpose
                    is to live the journey and enjoy this ever evolving life experience continuum. So I condensed
                    my thoughts into the following statement and found another helpful surmising reference.
                </p>
                <ol>
                    <li>
                        Finding ones self is the journey of a lifetime. Life is what happens in between.
                    </li>
                    <li>
                        Living in past is ego, Living in future is pride, Living in present is humility.
                    </li>
                </ol>
                <p>
                    The greeks and the romans had a way with their words. Almost as though the words themselves were
                    art and its was the artist who controlled the relatability of said meaning.
                </p>
                <ol>
                    <li>
                        Cogito ergo sum, Cogito ergo est - Rene Descartes
                    </li>
                    <li>
                        Life is only meaningful when we are striving for a goal - Aristotle
                    </li>
                    <li>
                        The more you learn, the more you find out how much know you don't know.
                    </li>
                </ol>
                <p>
                    I reckon what I've been striving for out of my thoughts is reasoning and understanding
                    to my emotions, drive, and analysis. I have some defining moments from sayings I've heard
                    or transcribed, or even paraphrased to a more relatable set of words. Here are some.
                </p>
                <ol>
                    <li>
                        What got you where you are is not what’s going to get you where you’re going.
                    </li>
                    <li>
                        The greatest leader listen with the most open ears.
                    </li>
                    <li>
                        You’re a senior as you feel.
                    </li>
                    <li>
                        You’re too smart for your own good means that you’ve already gone through all possible outcomes
                        given a current state, come to the conclusion with best possible explanation with
                        appropriate causality and supporting arguments, and you’ve thought about potential incoming
                        shards. At this point, you just have to do business promotion, marketing, and bringing
                        others up to speed. This is hardest for an analytical or driver because it means you have to
                        slow down. And in reality it will have best outcome when slowing down because others are able
                        to fill in marketing gaps, assisted support, and collective forward progress which one cannot
                        possibly fathom alone.
                    </li>
                    <li>
                        If an impressive (yellow) says something first, that’s what a general public will see. So
                        highlight that because it’s most obvious. If you haven't read "Surrounded By Idiots"
                        seriously read it. Great book for perspective on personalities and respective traits.
                    </li>
                    <li>
                        Stepping out of solutioning means to create a bigger picture that will spark ideation and
                        viewpoints around implementations not originally scoped. Wide variety of adaptations can
                        occur, for the benefit of the generalization created.
                    </li>
                </ol>
            </div>
        </article>
        <hr class="border border-primary border-3 opacity-75">
    </div>
    <div class="row pt-3 pb-2 blog-parallax parallax-center"></div>
    <div class="container-lg pt-3 pb-2 bkgd">
        <hr class="border border-primary border-3 opacity-75">
        <article id="blog1">
            <div class="container-md p-2">
                {# Anchor for respective blog #}
                <a href="#blog1"></a>
                <h4>Digest Way of Working (Dwow, (c) & Restricted) - Blog 1</h4>
                <p>
                    Dwow is a combination, and re-implementation of agile across a software development workshop.
                    A simple correlation is like Peanut Butter and Jelly. Both materials exist, but the combination,
                    and supplement of new unique materials, provides the consumer with a tremendously more beneficial
                    product. It is meant to include the best parts of working a remote hybrid, and an office in
                    a mashed an infused way that cross pollinate methodologies to the best use of a software development
                    workshop. Four core principles of Dwow: Self evaluation, Self awareness, Self compartmentalization,
                    Self presentation.
                </p>
                <p>
                    Certain principles are more effective than others, and look to methodically orient best practices that
                    come out of hyper affective sessions. Repeatable and reusable programs that need to be implemented
                    both on an individual and holistic scale are Hackathons, Transition Development Plans, Transition
                    Acceleration Models, Paired Programming, Swarm Sessions, and very much needed Thought Experiments.
                    Each in isolation are very powerful and unique; however, when used in combination create such
                    a force that productivity increases exponentially and efficiency becomes the standard.
                </p>
                <p>
                    It has been proven that pair programming, swarm sessions, and hackathons are all ways to produce a
                    performing state, and agile that minimizes burnout, and increases productivity , across-the-board. But
                    that being said the ways in which the digital world has enabled us to do so, are expedited, educational
                    programs or learning sessions through a paired style, that we will referred to as paired knowledge
                    sharing. This way, having two keyboards on the same monitor set up, let’s play multiplying effect take
                    place for both users senses. It not only helps the lesser trained individual in this respective field,
                    but also helps the trainer. It helps the trainee by expediting their learning through multiplicative
                    solutions. Multiplication comes from multiple senses being used: the auditory sense by listening to the
                    trainer explain and type at the same time, visual senses by watching solutions, take place and being
                    able to see them in action, the touch sense, because the keyboard in which the trainee is typing also
                    replicate a muscle, memory addition, and Socio economic growth through proximity of a more experienced
                    individual and the subject matter being referenced.
                </p>
                <p>
                    It also helps the trainer because it will force that individual to re-evaluate why thoughts and sequences
                    of solution, and were brought about throughout the problem stage. The solution in stage is rather the
                    more simplistic one in nature, because it is an experimentation phase of the ideation, which was
                    occurring through the problem solving analytical skills of the trainer.
                </p>
                <p>
                    The efficiency of swarm sessions, both code located, and centrally located, are beneficial to all parties
                    in place, including the company with which the sponsored event or session is taking place. This is
                    because not only is it expanded version of the paired knowledge session sharing, but also an advancement
                    of product development and delivery through which natural evolution can not occur at a hyper scale for
                    software applications. Once contacted and determined path forward with developers, this process 
                    provides a way of working that changes thoughts and puts clients first. The biggest directive is that
                    colleagues, customers, and the person sitting next to you are all clients. Treat them, yourself, your
                    time, and their ideas as such and success is the outcome.
                </p>
                <p>
                    DevOps practices combined with Dwow, Agile, and customer centric outcome driven ceremonies give 
                    this methodology an advantage to teams imagining an increase in productivity. From previous 
                    sessions with consultant groups and past professional experience where this solution was 
                    adopted and ultimately permantently implemented, teams gained on average 19% time recapture
                    over the first three sprints, and 25%+ productivity in roadmap delivery, 18% NPS score in 
                    customer satisfaction. When this solution is worked in conjunction with Hackathons and an
                    SDLC framework of choice, the iterative cycle held accontability across the board for developers
                    and product owners alike, and gave Tech Development Framework (Tech Primers, Kick Starters, 
                    Blueprints, and Reference Architectures) an upper hand in relevance, useability, consumability, and
                    adoptability.
                </p>
                <p>
                    The swarm session and paired knowledge sessions are not to be confused with time advancement
                    or left shifting of a roadmap. It is an advancement of product delivery, and or evolution. A hackathon
                    is a gathering of individuals where key players and customers as well as colleagues are
                    involved in non-time driven delivery. It will take place over 12 to 48 hour hyper r
                    scale delivery. This event can be co-located, hybrid, or on site, and needs to be succeeded by a 
                    couple, if not few, day relaxation. Where employees are able to rejuvenate, and re-gather themselves. 
                    Burnout is a real issue amongst the tech community and should never be taken lightly. 
                    Some examples of hackathon productivity stem from areas
                    of new innovation, product ideation, large blockers, and catch-up product delivery. Once completed, 
                    product paired programming, knowledge, sharing, sessions, or swarm sessions need to continue for 
                    efforts not to lose traction. Hackathons increase burnout, but when appropriately used, and followed
                    by the other aformentioned gatherings, burnout is minimized and productivity is maximized.
                </p>
                <p>
                    All of these in conjunction will provide the best solution for a software team, looking to be agile and
                    have agility in product development. I wear most useful a team can extract certain parts of this
                    methodology and ways of working to increase their productivity across the board, however, when
                    leveraging ceremonies appropriately and other highly effective software development, frameworks a
                    development team, will increase their productivity in much a compounded fashion, as compared to linear,
                    when adopting other methodologies.
                </p>
                <p>
                    Benefits include advance, product delivery, near eliminatory employee burnout, and also fiscal
                    consciousness of travel expenses.
                </p>
            </div>
        </article>
        <hr class="border border-primary border-3 opacity-75">
    </div>
    <div class="row pt-3 pb-2 blog-parallax parallax-center"></div>
    <div class="container-lg pt-3 pb-2 bkgd">
        <hr class="border border-primary border-3 opacity-75">
        <article id="blog0">
            <div class="container-md p-2">
                {# Anchor for respective blog #}
                <a href="#blog0"></a>
                <h4>Philosophy on Uniqueness - Blog 0</h4>
                <p>
                    Our uniqueness is what makes us special, not a conformity to business practices and corporate
                    propaganda. So why not get that chance? Well you have to start somewhere, and it's a lot of
                    work, but with strong community everyone has the opportunity to shine. That's my goal,
                    be a person who can provide a real life example of what I've experienced to provide insight
                    so others have more knowledge going into their own experiences.
                </p>
                <p>
                    This is by no means a billboard posting to say "hey we need to change everything", rather
                    it's a viewpoint on what transitional periods look like, so you can have an insight
                    to take into your ventures.
                </p>
                <p>
                    What's great about millennials (yes there is something great about the entitled culture)
                    is that it teaches us how people want to be satisfied, and how to prevent that in ourselves.
                    Simple reference I use in the tech space: if you can build an app to satisfy a millennial,
                    you've built an app to satisfy all users. It's therefore intuitive, straightforward to use,
                    simplistic in nature, and very servitude based.
                </p>
                <p>
                    So why keep anything from the previous generation? Also a great question. Because you lose
                    experience, knowledge, and learned procedures you'll never once gain again. Ok fair, a person
                    from a newer generation may be more "book learned", if they're reading enough material to
                    formulate and postulate ideas and opinions based on multiple perspectives, but there's one
                    thing the newer generation will never have on the older: experience. Time gives experience,
                    and even someone 10 minutes older than you has more experience on this earth. So regardless
                    of their credentials, give credence to their perspective and learn from it. Einstein himself
                    stated that if you're the smartest person in the room, you're in the wrong room. Which further
                    proves another quote of his: there's no such thing as a fact; there's only experimentally
                    proven theories which can just as quickly be disproved by another theory.
                </p>
                <p>
                    One book I truly recommend is the autobiography of Nikola Tesla. If someone could pack
                    a million thoughts into one sentence it's him. For a publication with less than a few dozen
                    pages, there is a treasure mine of thought put into conciseness that even the elegance
                    of wording proves arabesque and rhythmic in its artistry. He writes in such a way
                    that it's almost as though he knew how to trigger thoughts from the reader and inspire
                    those thoughts to be the readers own. A beautiful quote states: a true scientist is not
                    one of quantified book knowledge, no, rather it's the power to their imagination that
                    makes their possibilities limitless.
                </p>
            </div>
        </article>
        <hr class="border border-primary border-3 opacity-75">
    </div>
    <div class="row pt-3 pb-2 blog-parallax parallax-bottom"></div>
{#    <div class="container-lg pt-3 pb-2 bkgd">#}
{#        <hr class="border border-primary border-3 opacity-75">#}
{#        <article id="blogX">#}
{#            <div class="container-md p-2">#}
                {# Anchor for respective blog #}
{#                <a href="#blogX"></a>#}
{#                <h4>Philosophy on Uniqueness - Blog 0</h4>#}
{#                <p></p>#}
{#            </div>#}
{#        </article>#}
{#        <hr class="border border-primary border-3 opacity-75">#}
{#    </div>#}
{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}

{% block modals %}
    {{ super() }}
{% endblock %}
