{% extends "base.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block navbar %}
    {{ super() }}
{% endblock %}

{% block body %}
    {{ super() }}
    <div class="row pt-3 pb-1 business-parallax parallax-top-right">
        <h1 class="txt-cntr">Business</h1>
        <h5 class="fst-italic text-center">Comfort is the antithesis of progress.</h5>
    </div>
    <div class="container-lg pt-2 pb-2 bkgd">
        <hr class="border border-primary border-3 opacity-75">
        <div class="container-md p-2">
            <p>
                For Collaboration or Business inquiries, there are a few ways to contact me!!
            </p>
            <ul class="list-group">
                <li class="list-group-item">
                    <p>
                        Professional Connection -
                    </p>
                    <a href="https://www.linkedin.com/in/trevor-jaskot-72597a204/"
                       rel="noreferrer noopener" target="_blank">
                        LinkedIn
                    </a>
                </li>
                <li class="list-group-item">
                    <p>
                        Coding resources and public projects -
                    </p>
                    <a href="https://github.com/tjaskot" rel="noreferrer noopener" target="_blank">
                        Github
                    </a>
                </li>
                <li class="list-group-item">
                    Technical Consulting Questions - Reddit: tnfj-reddit
                </li>
                <li class="list-group-item">
                    Technical Consulting Questions - Discord: tnfj.business#5185
                </li>
                <li class="list-group-item">
                    Professional Inquiries and Rates - E-mail: tnfj.business@outlook.com
                </li>
            </ul>
        </div>
        <hr class="border border-primary border-3 opacity-75">
    </div>
{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}