{% extends "base.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block header %}
    {{ super() }}
{% endblock %}

{% block navbar %}
    {{ super() }}
{% endblock %}

{% block body %}
    {{ super() }}
    <div class="container-lg pt-3">
        <h2 class="txt-cntr">Contact Page</h2>
        <div class="container-md">
            <div class="row p-2">
                <i>Business inquiries, please refer to navigation Dropdown -> Business.</i>
            </div>
            <hr class="border border-primary border-3 opacity-75">
            <div class="row">
                <p>
                    This page is for ways in which you can contact TJ and inquire about questions,
                    business assistance, technical work, education, or just looking to get connected!
                </p>
                <p>
                    Two Parts to my business:
                </p>
                <ul>
                    <li>
                        First and foremost, I'm here to help!
                        <ul>
                            <li>
                                I want to make myself available, so if you have questions please reach out.
                                Seriously with anything Physics, Technology, or Philosophically related.
                                I would love to have a rational debate about topics. We can even start Reddit
                                or posted threads! But please, we're here to have quality conversations.
                                People don't inherently wake up evil and want to ruin others' days.
                            </li>
                            <li>
                                Have a thought/question? Reach out under navigation Dropdown -> Ask A Question,
                                and we can always have a great conversation!
                            </li>
                        </ul>
                    </li>
                    <li>
                        Second, I am available for work. Sure chatbots are great, and they'll give you
                        general output, but does that solution fit your needs? Sometimes sure! For building
                        frameworks, absolutely...why type same thing a thousand times!? Ludicrous haha
                        <ul>
                            <li>I do software development as my primary role.</li>
                            <li>I also have a Physics background, so are you looking to do research?! Let's colab</li>
                            <li>How bout building a website? Like this one :)</li>
                            <li>General work, such as Farm Hand, Mechanic, other...who knows!</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <hr class="border border-primary border-3 opacity-75">
            <div class="row">
                <p>
                    Love quotes, because they speak to everyone their own way! Here's one I realized for
                    expanding your network.
                </p>
                <p>
                    "Are you searching to be found? Or are you searching to find?"
                </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}