{% extends "base.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block navbar %}
    {{ super() }}
{% endblock %}

{% block body %}
    {{ super() }}
    <div class="row pt-3 pb-1 contact-parallax contact-parallax-header parallax-top-right">
        <h1 class="txt-cntr">Contact</h1>
        <h5 class="fst-italic text-center">
            I don't care that they stole my idea ... I care that they don't have any of their own
            - Nikola Tesla
        </h5>
    </div>
    <div class="container-lg pt-3 pb-2 bkgd">
        <div class="container-md p-2">
            <hr class="border border-primary border-3 opacity-75">
            <div class="row text-center">
                <p>Business inquiries, please refer to navigation -> Business.</p>
            </div>
            <p>
                Methods of contact:
            </p>
            <div class="row m-1">
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="https://www.linkedin.com/in/trevor-jaskot-72597a204/"
                           rel="noreferrer noopener" target="_blank">
                            LinkedIn
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="https://github.com/tjaskot" rel="noreferrer noopener" target="_blank">
                            Github
                        </a>
                    </li>
                    <li class="list-group-item">
                        Reddit: tnfj-reddit
                    </li>
                    <li class="list-group-item">
                        Discord: tnfj.business#5185
                    </li>
                    <li class="list-group-item">
                        E-mail: tnfj.business@outlook.com
                    </li>
                </ul>
            </div>
        </div>
        <hr class="border border-primary border-3 opacity-75">
    </div>
    <div class="row contact-parallax parallax-center"></div>
    <div class="container-lg pt-1 pb-2 bkgd">
        <hr class="border border-primary border-3 opacity-75">
        <div class="container-md p-2">
            <div class="row">
                <p>
                    Love quotes, because they speak to everyone their own way! Here's one I realized for
                    expanding your network.
                </p>
                <p>
                    "Are you searching to be found? Or are you searching to find?"
                </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}

{% block modals %}
    {{ super() }}
{% endblock %}