{% extends "base.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block header %}
    {{ super() }}
{% endblock %}

{% block navbar %}
    {{ super() }}
{% endblock %}

{% block body %}
    {{ super() }}
    <div class="container-lg pt-3">
        <h2 class="txt-cntr">TNFJ (TJ 'N Friends)</h2>
        <hr class="border border-primary border-3 opacity-75">
        <div class="container-md">
            <p>
                Quick Overview: TNFJ is for purpose of building community
                development and sharing best practices across our current ecosystem. As the owner,
                Trevor, I am very passionate about building people around us.
                Because our world is our influence :)
            </p>
            <p>
                The consulting portion of my business centers itself around work where knowledge
                and experience interweave to create the best possible outcomes with information at that time.
                Not everything needs to be suave and debonair, but it does have the ability to be its best
                when the provider puts passion and effort into the product. A quote which rang true
                for me is: "a person who wants to walk will always go further than a person who walks to
                the finish."
            </p>
            <p>
                That's why I created my own business. So many people have such wealth of knowledge and diversity of
                thought, but why don't we leverage this? It's not because we don't have access to it, in my
                opinion, it's because we don't know where to go to start looking. However, the beauty of
                tenacity and persistence is that any outcome can be achieved when one walks to learn, not
                walks to gain.
            </p>
            <p>
                That's my hope with this company. To start something that others feel empowered by and strive
                to do the same that I've done. Reach for the stars, because even a fall will land you at the
                top of the trees.
            </p>
        </div>
        <hr class="border border-primary border-3 opacity-75">
        <div class="container-md">
            <p>
                So!!! What is the purpose of this site? Great question!
            </p>
            <p>
                Site is to create a centralized location of knowledge I've gathered amongst community and
                in professional scenarios so others can leverage it freely and openly. To trigger thoughts
                and inspire research driven ideation. To help me make a mark on learning something new.
                Only further proving that more a person learns, the more they don't know, and open another
                dimension of infinite knowledge only to find learning is the best part.
                Hence, why writing it down in a fashion more enjoyable and digestible than a blank slate
                of monotonous toned Resume summaries is not designed for such, rather in hope to spread and
                share learned knowledge with others, so they can learn even quicker and build even more!
                Lastly, it puts myself on digital paper. People can read a resume, great. But that's not me,
                I'd rather show you. We all believe we're different, AND WE ARE,
                but we never really get a chance to show it, or for that matter, never have a chance to shine.
                I found I can do that through visuals and code, and side note, why I venerate Photoshop for
                its ability to manipulate a moment in time.
            </p>
        </div>
        <hr class="border border-primary border-3 opacity-75">
        <div class="container-md">
            <p>
                Want to know more about Trevor's Philosophy and business practices? Refer to the pinned
                <a href="/blog">blog</a> at top of page.
            </p>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}