{% extends "base.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block navbar %}
    {{ super() }}
{% endblock %}

{% block body %}
    {{ super() }}
    <div class="row pt-3 pb-3 index-parallax-header parallax-top">
        <h1 class="txt-cntr txt-white pt-2">TNFJ Tech Consulting</h1>
        <h5 class="fst-italic text-center txt-white">
            Pain gives us balance. Life gives us passion - Trevor Jaskot
        </h5>
    </div>
    <div class="container-lg pt-3 pb-2 bkgd">
        <hr class="border border-primary border-3 opacity-75">
        <div class="container-md p-2">
            <div class="fw-bold">
                Quick Overview:
            </div>
            <div class="ms-2">
                <p>
                    TNFJ is for purpose of building community
                    development and sharing best practices across our current ecosystem. As the owner,
                    Trevor, I am very passionate about building people around us.
                    Because our world is our influence :)
                </p>
                <p>
                    The consulting portion of my business centers itself around work where knowledge
                    and experience interweave to create the best possible outcomes with information at that time.
                    Not everything needs to be suave and debonair, but it does have the ability to be its best
                    when the provider puts passion and effort into the product. A quote which rang true
                    for me is: "a person who wants to walk will always go further than a person who walks to
                    the finish."
                </p>
                <p>
                    That's why I created my own business. So many people have such wealth of knowledge and diversity of
                    thought, but why don't we leverage this? It's not because we don't have access to it, in my
                    opinion, it's because we don't know where to go to start looking. However, the beauty of
                    tenacity and persistence is that any outcome can be achieved when one walks to learn, not
                    walks to gain.
                </p>
                <p>
                    That's my hope with this company. To start something that others feel empowered by and strive
                    to do the same that I've done. Reach for the stars, because even a fall will land you at tree tops.
                </p>
            </div>
        </div>
        <hr class="border border-primary border-3 opacity-75">
    </div>
    <div class="row index-parallax parallax-center"></div>
    <div class="container-lg pt-3 pb-2 bkgd">
        <hr class="border border-primary border-3 opacity-75">
        <div class="container-md p-2">
            <div class="row row-cols-2 g-2">
                <div class="col">
                    <div class="card text-center">
                        <div class="row g-0">
                            <div class="col-md-8">
                                <a href="#" class="btn btn-secondary btn-index" data-bs-toggle="modal"
                                   data-bs-target="#coderModal">
                                    <img src="{{ url_for('static', path='images/r2d2.png') }}"
                                         class="card-img-top" alt="">
                                </a>
                            </div>
                            <div class="col-md-4">
                                <div class="card-body">
                                    <p class="card-title">
                                        CODER
                                    </p>
                                    <p class="card-text">
                                        Coding experience and references available to developers.
                                    </p>
                                </div>
                                <div class="card-footer">
                                    <button type="button" class="btn btn-outline-info" data-bs-toggle="modal"
                                            data-bs-target="#coderModal">
                                        Learn More
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card text-center">
                        <div class="row g-0">
                            <div class="col-md-8">
                                <a href="#" class="btn btn-secondary" data-bs-toggle="modal"
                                   data-bs-target="#physicistModal">
                                    <img src="{{ url_for('static', path='images/c3po.png') }}"
                                         class="card-img-top" alt="">
                                </a>
                            </div>
                            <div class="col-md-4">
                                <div class="card-body">
                                    <p class="card-title">
                                        PHYSICIST
                                    </p>
                                    <p class="card-text">
                                        Past Physics knowledge, books, resources, and other Physics references.
                                    </p>
                                </div>
                                <div class="card-footer">
                                    <button type="button" class="btn btn-outline-info" data-bs-toggle="modal"
                                            data-bs-target="#physicistModal">
                                        Learn More
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card text-center">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <div class="card-body">
                                    <p class="card-title">
                                        DIGITAL
                                    </p>
                                    <p class="card-text">
                                        Digital innovation space and some links to transformative and
                                        culture changing technology.
                                    </p>
                                </div>
                                <div class="card-footer">
                                    <button type="button" class="btn btn-outline-info" data-bs-toggle="modal"
                                            data-bs-target="#digitalModal">
                                        Learn More
                                    </button>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <a href="#" class="btn btn-secondary" data-bs-toggle="modal"
                                   data-bs-target="#digitalModal">
                                    <img src="{{ url_for('static', path='images/bb8.png') }}"
                                         class="card-img-top" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card text-center">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <div class="card-body">
                                    <p class="card-title">
                                        WHO AM I
                                    </p>
                                    <p class="card-text">
                                        Who is TJ and a quick summary of how he describes himself!
                                    </p>
                                </div>
                                <div class="card-footer">
                                    <button type="button" class="btn btn-outline-info" data-bs-toggle="modal"
                                            data-bs-target="#whoamiModal">
                                        Learn More
                                    </button>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <a href="#" class="btn btn-secondary" data-bs-toggle="modal"
                                   data-bs-target="#whoamiModal">
                                    <img src="{{ url_for('static', path='images/d-o.png') }}"
                                         class="card-img-top" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="border border-primary border-3 opacity-75">
    </div>
    <div class="row index-parallax parallax-center"></div>
    <div class="container-lg pt-3 pb-2 bkgd">
        <hr class="border border-primary border-3 opacity-75">
        <div class="row">
            <p>
                Contact TJ and inquire about questions, business assistance, technical work,
                education, or just looking to get connected!
            </p>
            <p>
                Two Parts to my business:
            </p>
            <ul class="list-group">
                <li class="list-group-item">
                    First and foremost, I'm here to help!
                    <ul class="list-group-flush pt-2 pb-2">
                        <li class="list-group-item">
                            <div class="fw-bold">
                                Tech Consulting, Software Help, Physics Questions?
                            </div>
                            <div class="ms-2">
                                I want to make myself available, so if you have questions please reach out.
                                Seriously with anything Physics, Technology, or Philosophically related.
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="fw-bold">
                                Want to custom build a keyboard, computer, laptop?
                            </div>
                            <div class="ms-2">
                                I can create Photoshop images or Design art for
                                your keycaps; we can work together and you can learn how to build a keyboard
                                by building one with me; can build a computer tower to your specs;
                                recommend a gaming system or provide insight into type of platform;
                                upgrade current laptop specs (send you links, ideas, recommendations);
                                if time is of the essence, you can request that I build one for you.
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="fw-bold">
                                Have a thought/question?
                            </div>
                            <div class="ms-2">
                                I would love to have a rational debate about topics.
                                We can even start Reddit or posted threads!
                                But please, we're here to have quality conversations.
                                People don't inherently wake up evil and want to ruin others' days.
                                Reach out under navigation -> Ask A Question,
                                and we can always have a great conversation!
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="list-group-item">
                    Second, I am available for work.
                    <div class="ms-2">
                        Sure chatbots are great, and they'll give you
                        general output, but does that solution fit your needs? Sometimes sure! For building
                        frameworks, absolutely...why type same thing a thousand times!? Ludicrous haha
                    </div>
                    <ul class="list-group-flush pt-2 pb-2">
                        <li class="list-group-item">
                            <div class="fw-bold">
                                Software Programming and Platform Operations...
                            </div>
                            <div class="ms-2">
                                I do software development as my primary role. I have experience with building
                                physical computers, towers, and laptops. Tech consulting for hire!
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="fw-bold">
                                Physics and Math :)
                            </div>
                            <div class="ms-2">
                                I also have a Physics background, so are you looking to do research?! Let's colab!
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="fw-bold">
                                Custom Website?
                            </div>
                            <div class="ms-2">
                                How bout building a website? Like this one :). Reach out!
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="fw-bold">
                                Hands on Deck!
                            </div>
                            <div class="ms-2">
                                On the more physical genres of work, need a Farm Hand, Mechanic...give me a holler!
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <hr class="border border-primary border-3 opacity-75">
    </div>
    <div class="row index-parallax parallax-center"></div>
    <div class="container-lg pt-3 pb-2 bkgd">
        <hr class="border border-primary border-3 opacity-75">
        <div class="container-md p-2">
            <p>
                Want to know more about Trevor's Philosophy and business practices? Refer to the pinned
                <a href="/blog#blog0">blog 0</a>.
            </p>
        </div>
        <hr class="border border-primary border-3 opacity-75">
    </div>
{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}

{% block modals %}
    {{ super() }}
    <div class="modal" id="coderModal" tabindex="-1" aria-labelledby="coderModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="coderModalLabel">Public Repos</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>
                        Easier to show code:
                        <a href="https://github.com/tjaskot" rel="noreferrer noopener" target="_blank">
                            TJ Public Repos
                        </a>
                    </p>
                    <p>
                        Direct link to this website's code:
                        <a href="https://github.com/tjaskot/website" rel="noreferrer noopener" target="_blank">
                            TJ Personal Website
                        </a>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="physicistModal" tabindex="-1" aria-labelledby="physicistModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="physicistModalLabel">How can you like just one genre of Physics?!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>
                        Although Statistical Mechanics is one of my most preferred genre's of Physics,
                        there is nothing like a great E&M book!
                    </p>
                    <p>
                        My experience with Thermal Physics stemming from:
                        <a href="https://www.ebay.com/sch/i.html?_nkw=thermal+physics"
                           rel="noreferrer noopener" target="_blank">
                            Introduction to Thermal Physics
                        </a>
                    </p>
                    <p>
                        One of my favorite books to peruse for problem sets:
                        <a href="https://www.ebay.com/sch/i.html?_nkw=introduction+to+electrodynamics+griffiths"
                           rel="noreferrer noopener" target="_blank">
                            Griffith's E&M
                        </a>
                    </p>
                    <p>
                        With another book for classical realm being:
                        <a href="https://www.ebay.com/sch/i.html?_nkw=classical+mechanics+john+taylor"
                           rel="noreferrer noopener" target="_blank">>
                            John Taylor - Classical Mechanics
                        </a>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="digitalModal" tabindex="-1" aria-labelledby="digitalModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="digitalModalLabel">How do you define Digital Innovation?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>
                        Pulling from Harvard Business Review (HBR), great overview of personal philosophies and
                        how I approach true innovation and disruption.
                        <a href="https://hbr.org/2015/12/what-is-disruptive-innovation"
                           rel="noreferrer noopener" target="_blank">
                            What is Disruptive Innovation?
                        </a>
                    </p>
                    <p>
                        Highlights and headers within aforementioned article. Image source:
                    </p>
                    <img src="{{ url_for('static', path='images/disruptive_innovation.png') }}" class="rounded img-fluid d-block">
                    <br>
                    <ol>
                        <li>Disruptive innovations don’t catch on with mainstream customers until quality catches up to their standards</li>
                        <li>Why Getting It Right Matters</li>
                        <li>Disruption is a process</li>
                        <li>Because disruption can take time, incumbents frequently overlook disrupters</li>
                        <li>Disrupters often build business models that are very different from those of incumbents</li>
                        <li>Some disruptive innovations succeed; some don’t</li>
                        <li>The mantra “Disrupt or be disrupted” can misguide us</li>
                        <li>What a Disruptive Innovation Lens Can Reveal</li>
                        <li>When new technology arises, disruption theory can guide strategic choices</li>
                        <li>Smart disrupters improve their products and drive upmarket</li>
                    </ol>
                    <p>
                        Lastly, how a change agent can be defined in current market.
                        <a href="https://www.indeed.com/career-advice/career-development/change-agent"
                           rel="noreferrer noopener" target="_blank">
                            Indeed's Change Agent Definition
                        </a>
                    </p>
                    <p>
                        And a quick overview list from Charter for Compassion on
                        <a href="https://charterforcompassion.org/leadership-and-business/15-qualities-of-a-transformational-change-agent"
                           rel="noreferrer noopener" target="_blank">
                            15 Qualities
                        </a>
                        a Change Agent demonstrates.
                    </p>
                    <p>
                        With three primary attributes being:
                    </p>
                    <ol>
                        <li>Doing</li>
                        <li>Seeing</li>
                        <li>Being</li>
                    </ol>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="whoamiModal" tabindex="-1" aria-labelledby="whoamiModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="whoamiModalLabel">Who Am I?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>
                        Who Am I? I’m John Vel John! No just kidding, but Les Miserables is a classic.
                    </p>
                    <p>
                        I’m writing this as I’m talking to you. Rather you get to know me, instead of reading about
                        some entity existing in parallel to you. So I will include joking and emotions as though I
                        were with you in person!
                    </p>
                    <p>
                        Hi I’m TJ. I’m a Physicist by birth. Here’s why I say that, and here’s my story. I always
                        thought I would be a computer engineer and build the next generation of gaming. The first
                        time I was told that I built to be a Physicist was my high school Physics professor. I
                        had long conversations with her as well as my government teacher in high school about my
                        future and how I would develop. I partially resented any comments opposing mine (to which
                        I now regret as quite juvenile). My family acknowledged that physics is the subject where
                        my mind truly flourish. It wasn’t but a year and half into college that it hit me like
                        a ton of books (literally 😊) that I realized I was meant to be a Physicist. I was
                        sitting in the Central Library on Campus around 1:30 studying for my Physics class. I
                        heard the janitors start vacuuming the halls. It was intriguing to me that the janitors
                        would start cleaning so early given the fact that I had started my Physics homework
                        roughly 2 hours ago…or so I thought. The janitors clean the last 30 minutes prior to
                        closing. I picked up my phone just out of curiosity to see what time it was and oh my
                        goodness, it was 1:30 in the morning! I started my homework nearly 7 hours ago. I knew
                        then that I needed to select Physics as my degree instead of engineering. I learned that
                        I love Physics not because I could do it well, nor that I could do the math in my brain,
                        but because I could lose all my physical being and enter a world where time didn’t exist.
                    </p>
                    <p>
                        Some background as to why that matters and why it defines me as me. I have accommodative
                        insufficiency and optical acuity issues. Acuity problems cause me to not be able to see
                        clear. Accommodative insufficiency cause my eyes to not focus properly, nor can my eyes
                        focus at the same rate. Hence, when I do read, I get headaches only a few short minutes
                        into the book because each word, not matter how minute of a distance, triggers a focal
                        change in the eye. What I didn’t know then, that I know now, is that my brain trained
                        itself to immediately sponge information from my remaining senses. If I had to ever learn
                        that bit of information again, I might encounter a scenario where I was in a state of
                        pain. So what did my body do in response? Learn once, learn right.
                    </p>
                    <p>
                        I know the next phrase not to be 100% true because I’m quite hyper-analytical so I
                        recall details (to the point where literal interpretation is my vocabulary), but people
                        say I have a photographic memory. I respond with: “No, I’m just a Physicist.” Why might
                        you ask would I respond with that? Well Physics taught me one of life’s greatest lessons.
                        Learn from your brain, and lead with your heart. What does that have to do with Physics
                        you say? Please oblige me explanation with show and tell.
                    </p>
                    <p>
                        Nothing explains me better than the Physics that taught me who I am. Unedited, snapshot
                        which will transition and tailor itself to the world in which it is exposed with finesse
                        and suave.
                    </p>
                    <p>
                        I’m nothing more, and nothing less, than a Physics problem. This problem in Chapter 12
                        of my Electromagnetic Theory (E&M) book describes my to a T (pun intended). Parallel
                        plate capacitors have long been studied under the electromagnetic realm and will forever
                        be a basis of theoretical principles. This first image describes the transformation
                        that I experienced.
                    </p>
                    <p>
                        I started from a point source observed from an external point of view and as time
                        became more and more part of my spatial awareness, I became more and more independent.
                        Given the number of occurrences for which my field encountered I too had a particular
                        application in that set.
                    </p>
                    <p>
                        Part 2 of my journey. As I learned to take one electric force (my electric force) and
                        expand my perspective, I began to blossom.
                    </p>
                    <p>
                        After some analysis and algorithm development I learned that the world in which we
                        live is all about perspective. And given a parallel plate capacitor, from a point
                        source’s perspective, is theoretically infinite, but from an external viewpoint it’s
                        limited. So what else does the world have to offer? I want to learn.
                    </p>
                    <p>
                        Hence, part 3. The design of a parallel plate capacitor.
                    </p>
                    <p>
                        You see an image, I see an image. You think one thing, I think another. From what
                        perspective are you observing? That’s life. That’s Physics. That’s me. I learned
                        that having a collective problem, realizing the scenario, and solution an outcome
                        constructs foundations of human nature. This given law describes words which have
                        built my foundation and drive my future: harmony, integrity, energy. Without good
                        there is not bad. Without failure, there is no success. Without a problem, there
                        is no solution.
                    </p>
                    <p>
                        I am a Physicist, yes. I am also TJ. I love being me and I hope together we can bring thoughts and
                        perspective to the table which I hope to offer to the best of my ability and learn everything I can
                        in order to continually expand my perspective and understanding and grow to become the person who I
                        was designed to be.
                    </p>
                    <p>
                        Physics opened my eyes; perspective is everything.
                    </p>
                    <p>
                        Pain gave me balance. Life gave me passion.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}